<h1>User::Toilets#show</h1>
<p>Find me in app/views/user/toilets/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="new-post">
        <h3>トイレ詳細画面</h3>
          <table class="table table-bordered">
            <thead>
              <tr style="text-align: center;">
                <th>写真</th>
                <th>トイレ名</th>
              <th>説明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= attachment_image_tag @toilet,:image,format: 'jpeg', fallback: "new_toilet_image.jpg",size: "250x150",class: "image_box" %></td>
                <td><%= @toilet.toilet_name %></td>
                <td><%= @toilet.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<p>コメント数:<%= @toilet.toilet_comments.count %></p>
<% @toilet.toilet_comments.each do |toilet_comment| %><br>
<%= toilet_comment.user.name %><br>
<%= toilet_comment.comment %>
<% end %>


<div>
<%= form_with(model:[@toilet, @toilet_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
