<h1>User::Toilets#show</h1>
<p>Find me in app/views/user/toilets/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="new-post">
        <h3>トイレ詳細画面 コメント数:<%= @toilet.toilet_comments.count %></h3>
          <table class="table table-bordered">
            <thead>
              <tr style="text-align: center;">
                <th>写真</th>
                <th>トイレ名</th>
              <th>説明</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= attachment_image_tag @toilet,:image,format: 'jpeg', fallback: "new_toilet_image.jpg",size: "250x150",class: "image_box" %></td>
                <td><%= @toilet.toilet_name %></td>
                <td><%= @toilet.introduction %></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="new-post">
              <% @toilet.toilet_comments.each do |toilet_comment| %>
              <div class="row" style="margin: 10px">
                <div class="col-3" style="text-align: center;">
                  <%= attachment_image_tag toilet_comment,:image,format: 'jpeg', fallback: "new_toilet_image.jpg",size: "180x130" %>
                </div>
                <div class="col-9">
                  ユーザー名:<%= toilet_comment.user.name %>
                  <p>投稿コメント<%= toilet_comment.comment %></p>
                    <% if toilet_comment.user == current_user %>
                    <%= link_to "削除",toilet_toilet_comment_path(toilet_comment.toilet,toilet_comment),method: :delete,class: "btn btn-danger" %>
                    <% end %>
                </div>
              </div>
              <% end %>
            <div>
              <%= form_with(model:[@toilet, @toilet_comment], local: true) do |f| %>
            
                <%= f.label :画像, class: "form-label" %><br>
                <%= f.attachment_field :image %><br><br>
                
                <%= f.label :コメント, class: "form-label" %><br>
                <%= f.text_area :comment, class: "form-control",rows:'3',placeholder: "コメントをここに" %><br>
                <%= f.submit "コメントする" %>
              <% end %>
           </div>
         </div>
        </div>
      </div>
    </div>
