<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="new-post">
        <%= form_with model: @user, local:true do |f| %>
        <h3>user編集画面</h3>
        
          <%= f.label :名前名, class: "form-label" %><br>
          <%= f.text_field :name, class: "form-control", placeholder: "変更する名前を入力してください" %><br>
  
          <%= f.label :Email, class: "form-label" %><br>
          <%= f.text_field :email, class: "form-control", placeholder: "変更するEmailを入力"  %><br>
          
          <%= f.submit '保存', class: "btn btn-outline-dark" %>
  
          <% end %>
      </div>
    </div>
  </div>
</div>